<!doctype html>

<html lang="en">

<head>
    <script type="text/javascript" src={{ url_for("static", filename="decimal.js" ) }}></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About | RawPerPerson.com</title>
    <meta name="description" content="How much Nano per person in the world">
    <meta name="author" content="NinjaSnail1080">

    <meta property="og:title" content="How much Nano is there per person on Earth?">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.rawperperson.com/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content={{ url_for("static", filename="image.png" ) }}>

    <link rel="icon" type="image/png" href={{ url_for("static", filename="icon.png" ) }}>
    <link rel="apple-touch-icon" href={{ url_for("static", filename="icon.png" ) }}>

    <link rel="stylesheet" href={{ url_for("static", filename="index.css" ) }}>

</head>

<body>
</body>

</html>